@model IEnumerable<Gestion_Del_Presupuesto.Models.PlanillasModel>

<h1>Listado De Estudiantes Históricos</h1>
<table class="table">
    <thead>
        <tr>
            <th>Institución</th>
            <th>Servicio</th>
            <th>Tipo Programa</th>
            <th>Nombre</th>
            <th>Rut</th>
            <th>Fecha Inicio</th>
            <th>Fecha Término</th>
            <th>Horas Mensuales</th>
            <th>Observaciones</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Institucion</td>
                <td>@item.Servicio</td>
                <td>@item.TipoPrograma</td>
                <td>@item.NombresApellidosEstudiante</td>
                <td>@item.RunEstudiante</td>
                <td>@item.FechaInicioPractica.ToShortDateString()</td>
                <td>@item.FechaTerminoPractica.ToShortDateString()</td>
                <td>@item.HorasMensuales</td>
                <td>@item.Descripcion</td>
                <td>
                    <a asp-action="Restore" asp-route-id="@item.Id_Planillas" class="btn btn-success btn-sm">Restaurar</a>
                    <button class="btn btn-danger btn-sm" onclick="openDeleteModal('@Url.Action("DeletePermanent", "Planillas", new { id = item.Id_Planillas })')">Eliminar Definitivamente</button>
                </td>
            </tr>
        }
    </tbody>
</table>
