@model Gestion_Del_Presupuesto.Models.Historial_Actividad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Historial_Actividad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuarios.Id_Usuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Historial_Actividad">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
