@model IEnumerable<Gestion_Del_Presupuesto.Models.Campo_Clinico>

@{
    ViewData["Title"] = "Lista de Campos Clínicos";
}

<h1>Lista de Campos Clínicos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Campo Clínico</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Tipo)</th>
            <th>@Html.DisplayNameFor(model => model.Sede)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
                <td>@Html.DisplayFor(modelItem => item.Sede)</td>               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_Campo_Clinico" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_Campo_Clinico" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_Campo_Clinico" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
