@model IEnumerable<Gestion_Del_Presupuesto.Models.Campo_Clinico>

@{
    ViewData["Title"] = "Lista de Campos Clínicos";
}

<h1>Lista de Campos Clínicos</h1>

<!-- Botón para registrar un nuevo campo clínico -->
<form asp-action="Create" method="get">
    <button type="submit" class="btn btn-primary">Registrar Campo Clínico</button>
</form>

<!-- Tabla que lista los campos clínicos existentes -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sede)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sede)
                </td>
                <td>
                    <!-- Enlaces para editar, ver detalles o eliminar un campo clínico -->
                    <a asp-action="Edit" asp-route-id="@item.Id_Campo_Clinico" class="btn btn-warning btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_Campo_Clinico" class="btn btn-info btn-sm">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_Campo_Clinico" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
