@model Gestion_Del_Presupuesto.Models.ConvenioModel

<h2>Detalles del Convenio</h2>

<div>
    <h4>Convenio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Tipo Convenio</dt>
        <dd class="col-sm-10">@Model.Tipo_Convenio</dd>

        <dt class="col-sm-2">Sede</dt>
        <dd class="col-sm-10">@Model.Sede</dd>

        <dt class="col-sm-2">Teléfono</dt>
        <dd class="col-sm-10">@Model.Telefono</dd>

        <dt class="col-sm-2">Rut</dt>
        <dd class="col-sm-10">@Model.Rut</dd>

        <dt class="col-sm-2">Dirección</dt>
        <dd class="col-sm-10">@Model.Direccion</dd>

        <dt class="col-sm-2">Contacto Principal</dt>
        <dd class="col-sm-10">@Model.ContactoPrincipal</dd>

        <dt class="col-sm-2">Fecha de Inicio</dt>
        <dd class="col-sm-10">@Model.Fecha_Inicio.ToShortDateString()</dd>

        <dt class="col-sm-2">Fecha de Término</dt>
        <dd class="col-sm-10">@Model.Fecha_Termino?.ToShortDateString()</dd>

        <dt class="col-sm-2">Renovación Automática</dt>
        <dd class="col-sm-10">@Model.RenovacionAutomatica</dd>

        
    </dl>
    <h4>Retribuciones</h4>
    <dd class="col-sm-10">
        @if (Model.Retribuciones != null && Model.Retribuciones.Any())
        {
            <ul>
                @foreach (var retribucion in Model.Retribuciones)
                {
                    <li>
                        <strong>Tipo:</strong> @retribucion.Tipo_Retribucion <br />
                        <strong>Valor UF:</strong> @retribucion.UFTotal <br />
                        <strong>Cantidad Pesos:</strong> @retribucion.CantPesos <br />
                        <strong>Periodo:</strong> @retribucion.Periodo
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No hay retribuciones asociadas.</p>
        }
    </dd>

    <h4>Centros de Salud Asociados</h4>
    <div>
        @if (Model.CentrosDeSalud != null && Model.CentrosDeSalud.Any())
        {
            <ul>
                @foreach (var centro in Model.CentrosDeSalud)
                {
                    <li>
                        <strong>Nombre:</strong> @centro.NombreCentro <br />
                        <strong>Dirección:</strong> @centro.Direccion <br />
                        <strong>Contacto:</strong> @centro.Contacto <br />
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No hay centros de salud asociados.</p>
        }
    </div>
</div>

<form asp-action="ExportToExcel" method="post">

    <button type="submit" class="btn btn-success">Exportar a Excel</button>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</form>

