@model IEnumerable<Gestion_Del_Presupuesto.Models.Devengado>

<h1>Lista de Devengados</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Registrar Nuevo Devengado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Carrera</th>
            <th>Centro de Costo</th>
            <th>Ítem Presupuestario</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Carrera</td>
                <td>@item.CentroCosto</td>
                <td>@item.Itempresupuestario</td>
                <td>@item.FechaInicio.ToShortDateString()</td>
                <td>@item.FechaFin.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_Devengado" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id_Devengado" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id_Devengado" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
