@model Gestion_Del_Presupuesto.Models.ConveniosModel

<h2>Detalles de Convenio</h2>

<div>
    <h4>Convenio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Convenios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id_Convenios)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContratosInstituciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContratosInstituciones)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Convenios" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Atrás a la lista</a>
</div>
