@model IEnumerable<Gestion_Del_Presupuesto.Models.Pago>

@{
    ViewData["Title"] = "Seguimiento de Pagos";
}

<h2>Seguimiento de Pagos</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Convenio</th>
            <th>Monto</th>
            <th>Estado</th>
            <th>Fecha de Vencimiento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pago in Model)
        {
            <tr>
                <td>@pago.Convenios</td>
                <td>@pago.Monto</td>
                <td>@pago.Estado</td>
                <td>@pago.FechaVencimiento.ToShortDateString()</td>
                <td>
                    <a class="btn btn-info" asp-action="DetallesPago" asp-route-id="@pago.Id_Pago">Ver Detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>

