@model IEnumerable<Gestion_Del_Presupuesto.Models.FacturacionModel>

@{
    ViewData["Title"] = "Listado de Facturación";
}

<h2>Listado de Facturación</h2>
<div class="table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Razón Social</th>
                <th>RUT</th>
                <th>Giro</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Receptor de Documento</th>
                <th>Cargo</th>
                <th>Teléfono de Receptor</th>
                <th>Correo Electrónico</th>
                <th>Sede</th>
                <th>Carrera</th>
                <th>Nivel Formación</th>
                <th>Institución</th>
                <th>Tiempo de Práctica</th>
                <th>N° mes/día/semana/hora</th>
                <th>N° Alumnos</th>
                <th>Valor UF</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RazonSocial</td>
                    <td>@item.RUT</td>
                    <td>@item.Giro</td>
                    <td>@item.Direccion</td>
                    <td>@item.Telefono</td>
                    <td>@item.ReceptorDocumento</td>
                    <td>@item.Cargo</td>
                    <td>@item.TelefonoReceptor</td>
                    <td>@item.CorreoElectronico</td>
                    <td>@item.Sede</td>
                    <td>@item.Carrera</td>
                    <td>@item.NivelFormacion</td>
                    <td>@item.Institucion</td>
                    <td>@item.TiempoPractica</td>
                    <td>@item.NumeroTiempo</td>
                    <td>@item.NumeroAlumnos</td>
                    <td>@item.ValorUF</td>
                    <td>@item.Subtotal</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id_Facturacion" class="btn btn-info">Detalles</a>
                        <a asp-action="Edit" asp-route-id="@item.Id_Facturacion" class="btn btn-warning">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id_Facturacion" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Facturación</a>
</p>

