@model IEnumerable<Gestion_Del_Presupuesto.Models.FacturacionModel>
@{
    ViewData["Title"] = "Gestión de Facturación";
}

<h1>Gestión de Facturación</h1>

<div class="row mb-4">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <td><strong>Razón Social:</strong></td>
                <td>Universidad Central</td>
                <td><strong>Receptor de Documento:</strong></td>
                <td>@ViewBag.NombreUsuario</td>
            </tr>
            <tr>
                <td><strong>RUT:</strong></td>
                <td>70.995.200-5</td>
                <td><strong>Cargo:</strong></td>
                <td>Directora de Campos Clínicos</td>
            </tr>
            <tr>
                <td><strong>Giro:</strong></td>
                <td>Educación</td>
                <td><strong>Teléfono:</strong></td>
                <td>@ViewBag.TelefonoUsuario</td>
            </tr>
            <tr>
                <td><strong>Dirección:</strong></td>
                <td>Lord Cochrane 417, Santiago Centro</td>
                <td><strong>Correo Electrónico:</strong></td>
                <td>@ViewBag.EmailUsuario</td>
            </tr>
            <tr>
                <td><strong>Teléfono:</strong></td>
                <td>02-25826000</td>
                <td><strong>Sede:</strong></td>
                <td>Santiago Centro</td>
            </tr>
        </table>
    </div>
</div>

<!-- Filtros de Facturación -->
<div class="row mb-4">
    <div class="col-md-12">
        <h4>Filtros de Facturación</h4>
        <form method="get" class="form-inline d-flex align-items-center">
            <div class="form-group mb-2 mr-3">
                <label for="fechaInicio" class="mr-2">Fecha Inicio</label>
                <input type="date" id="fechaInicio" name="fechaInicio" class="form-control" />
            </div>
            <div class="form-group mb-2 mr-3">
                <label for="fechaFin" class="mr-2">Fecha Fin</label>
                <input type="date" id="fechaFin" name="fechaFin" class="form-control" />
            </div>
            <div class="form-group mb-2">
                <button type="submit" class="btn btn-primary ml-3">Calcular Total a Pagar</button>
            </div>
        </form>
    </div>
</div>

<!-- Lista de Facturaciones -->
<div class="row">
    <div class="col-md-12">
        <h4>Lista de Facturaciones</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Carrera</th>
                    <th>Nivel Formación</th>
                    <th>Nombre Convenio</th>
                    <th>Tiempo de Práctica</th>
                    <th>N° mes/día/semana/hora</th>
                    <th>N° Alumnos</th>
                    <th>Valor 3 UF mes/práctica profesional</th>
                    <th>Subtotal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Carrera</td>
                        <td>@item.NivelFormacion</td>
                        <td>@item.Convenios.Nombre</td>
                        <td>@item.TiempoPractica</td>
                        <td>@item.NumeroTiempo</td>
                        <td>@item.NumeroAlumnos</td>
                        <td>@item.ValorUFMesPractica</td>
                        <td>@item.Subtotal</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id_Facturacion" class="btn btn-warning btn-sm">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.Id_Facturacion" class="btn btn-info btn-sm">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.Id_Facturacion" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- Resultados de Facturación -->
<div class="row mb-2">
    <div class="col-md-2">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h8 class="card-title">Neto UF</h8>
                <p class="card-text">@ViewBag.NetoUF</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h8 class="card-title">Valor UF </h8>
                <p class="card-text">@ViewBag.ValorUFPromedio</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-white bg-danger">
            <div class="card-body">
                <h8 class="card-title">Total a Pagar</h8>
                <p class="card-text">@ViewBag.TotalAPagar</p>
            </div>
        </div>
    </div>
</div>